<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Nashty</title>
    <%include ../partials/styles%>
    <% include ../partials/head-react-js %>
    <script src="/libs/js/socket.io.js"></script>
    <script src="/js/nashty.admin.socketio.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body, html {
            height:100%;
        }

        #nashty-app {
            width:100%;
            height:100%;
        }
        .app {
            width:100%;
        }

        .outline {
            float: left;
            /*min-height: 500px;*/
            height: 100%;
        }

        .sidebar {
            width: 25%;
            background-color: #00bcd4;
            padding: 0 5px;
        }

        .mainView {
            width: 75%;
        }

        .container {
            width: 100%;
            padding: 0 50px;
        }
        .nash-chat-board {
            margin: 0 auto;
            position: relative;
            width: 80%;
            height: 400px;
            border: 1px solid red;
        }

        .nash-inputs {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            border: 1px solid green;
        }

        .nash-content {
            border: 1px solid blue;
            height: 80%;
            padding: 10px;
        }

        .msg.sent {
            color: #0b97c4;
            float: left;
            border: 1px solid crimson;
        }

        .msg.received {
            color: slateblue;
            float: right;
            border: 1px solid darkgoldenrod;
        }

        #nash-message {
            width: 70%;
        }

        .clear {
            clear: both;
        }

        .title {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="nashty-app"></div>
<script type="text/babel" src="/components/chat.js"></script>
<script type="text/babel">
    $(function () {
        var App = React.createClass({
            render: function () {
                return (
                        <div className="app outline">
                            <SideBar />
                            <MainView />
                        </div>
                );
            }
        });

        var SideBar = React.createClass({
            render: function () {
                return (
                        <div className="sidebar navbar outline teal accent-4 z-depth-2">
                            <CardPanel>NASHTY</CardPanel>
                            <NavButtons/>
                            <button className="waves-effect waves-light btn pink accent-3">Logout</button>
                        </div>
                );
            }
        });

        var MainView = React.createClass({
            render: function () {
                return (
                        <div className="mainView outline">
                            <MainViewContainer />
                        </div>
                );
            }
        });

        var MainViewContainer = React.createClass({
            render: function () {
                return (
                        <div className="container lighten-3">
                            <small>Container</small>
                            <ChatApp />
                        </div>
                );
            }
        });

        var NavButtons = React.createClass({
            render: function () {
                return (
                        <div className="collection">
                            <NavButton href="/inbox">Inbox</NavButton>
                            <NavButton href="/inbox">Users Online</NavButton>
                            <NavButton href="/inbox">Chats</NavButton>
                            <NavButton href="/inbox">Admins</NavButton>
                        </div>
                )
            }
        });

        var NavButton = React.createClass({
            render: function () {
                return (
                        <a href={this.props.href} className="collection-item">{this.props.children}</a>
                );
            }
        });

        var CardPanel = React.createClass({
            render: function () {
                return (
                        <div className={"card-panel "+ this.props.color+" "+this.props.accent+" "+this.props.textColor}>
                            {this.props.children}
                        </div>
                );
            }
        });

        var Button = React.createClass({
            render: function () {
                return (
                        <button>{this.props.children}</button>
                )
            }
        })

        ReactDOM.render(<App />, document.getElementById('nashty-app'));
    });

</script>
</body>
</html>